<h1 class="display-1">Pets</h1>
<% @pets.each do |pet| %>
 <%= link_to pet.name, pet_path(pet), class: 'btn btn-info btn-lg' %>
 <br>
 <br>
<% end %>

<hr>

<%= link_to "Add pet", new_pet_path, class: 'btn btn-primary btn-lg' %>
<br>
<br>
<%= link_to "Back", user_path(@user), class: 'btn btn-primary btn-lg' %>