<h3 class="display-1"> <%= @kennel.name %> Dens</h3>
<h3><%= link_to "Back",  kennel_owner_user_kennels_path ,class: 'btn btn-info btn-sm'%></h3>
<hr>

<% @dens.each do |den| %>
  <% if den.occupied == true %>
    <p><%= link_to 'Den ' + den.den_number.to_s, den_path(den) ,class: 'btn btn-secondary btn-lg' %> </p>
  <% else %>
    <p><%= link_to 'Den ' + den.den_number.to_s, den_path(den) ,class: 'btn btn-success btn-lg' %> </p>
  <% end %>

 <br>
 <br>
 
<% end %>